<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.board.mapper.BoardMapper">

    <insert id="save" parameterType="hello.board.domain.Board" useGeneratedKeys="true" keyProperty="boardId">
        insert into table_board (title, content, name)
        values (#{title},#{content},#{name});
    </insert>
    <!-- insert 메소드는 반환값이 숫자이다 -->

    <select id="boardCount" resultType="int">
        select count(boardId)
        from table_board
        <where>
            <if test="title != null">
                and title like concat('%',#{title},'%')
            </if>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="findAll" resultType="hello.board.domain.Board" >
        select *
        from table_board
        <where>
            <if test="title != null">
                and title like concat('%',#{title},'%')
            </if>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultType="hello.board.domain.Board">
        select *
        from table_board
        where boardid = #{boardId}
    </select>

    <update id="countUp">
        update table_board
        set view_cnt = view_cnt + 1
        where boardid = #{boardId}
    </update>
    
    <update id="update" parameterType="hello.board.domain.Board">
        update table_board
        set title=#{title},content=#{content},name=#{name}
        where boardid = #{boardId}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete
        from table_board
        where boardid = #{a}
    </delete>

    <select id="findHeart" resultType="int">
        select count(*) from heart where memberid = #{memberId} and boardid = #{boardId}
    </select>

    <insert id="insertHeart" useGeneratedKeys="true" keyProperty="heartId">
        insert into heart(boardid, memberid , heart)
        values(#{boardId}, #{memberId}, 1)
    </insert>

    <delete id="deleteHeart">
        delete from heart where boardid=#{boardId} and memberid=#{memberId}
    </delete>

    <insert id="filesave">
        insert into file(uploadfilename,dbfilename) values (#{uploadFileName},#{dbFileName})
    </insert>
</mapper>