<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.board.mapper.MemberMapper">
    <insert id="save" parameterType="hello.board.domain.Member" useGeneratedKeys="true" keyProperty="memberId">
        insert into member(id,password,name,phone)
        values (#{id},#{password},#{name},#{phone})
    </insert>

    <select id="findAll" resultType="hello.board.domain.Member">
        select *
        from member
    </select>

    <select id="findById" resultType="hello.board.domain.Member">
        select *
        from member
        where memberid = #{memberId}
    </select>

    <select id="login" resultType="hello.board.domain.Member">
        select * from member
        where id=#{id}
    </select>
</mapper>
