<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.board.domain.PostMapper">
    <!-- board 테이블 전체 컬럼 -->
    <sql id="postColumns">
        id
        ,title
        ,content
        ,writer
        ,view_cnt
        ,notice_yn
        ,delete_yn
        ,created_date
        ,modified_date
    </sql>

    <!-- 게시글 저장 -->
    <insert id="save" parameterType="hello.board.domain.PostRequest">
        insert into board <include refid="postColumns"/>
        values (
                #{id},
                #{title},
                #{content},
                #{writer},
                0,
                #{notice_yn},
                0,
                now(),
                null
        )
    </insert>

    <!-- 게시글 상세 조회 -->
    <select id="findById" parameterType="long" resultType="hello.board.domain.PostResponse">
        select *
        from board
        where id = #{value}
    </select>

    <!-- 게시글 수정 -->
    <update id="update" parameterType="hello.board.domain.PostRequest">
        update board
        set modified_date = now(),
            title = #{title},
            content = #{content},
            writer = #{writer},
            notice_yn
        where id = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="long">
        update board
        set delete_yn = 1
        where id = #{id}
    </delete>

    <!-- 게시글 리스트 조회 -->
    <select id="findAll" resultType="hello.board.domain.PostResponse">
        select *
        from board
        where delete_yn = 0
        order by id desc
    </select>
</mapper>