<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link   th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 650px">
  <div class="py-5 text-center">
    <h2>회원 목록</h2>
  </div>
  <form method="get" class="form-inline">
    <div class="row">
      <div class="col">
      </div>

      <div class="col">
        <button class="btn btn-primary float-end"
                onclick="location.href='addForm.html'"
                th:onclick="|location.href='@{/members/save}'|"
                type="button">회원가입</button>
      </div>
    </div>
  </form>
  <hr class="my-4">

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>전화번호</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td><a th:href="@{|/members/${member.memberId}|}" th:text="${member.memberId}">회원 번호</a></td>
        <td><a th:text="${member.id}" th:href="@{|/members/${member.memberId}|}">아이디</a></td>
        <td th:text="${member.password}">비밀번호</td>
        <td th:text="${member.name}">이름</td>
        <td th:text="${member.phone}">전화번호</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>