<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 상세</h2>
  </div>

  <h2 th:if="${param.status}" th:text="'저장 완료!'"></h2>


  <div>
    <label for="memberId">회원 ID</label>
    <input type="text" id="memberId" name="memberId" class="form-control"
           value="1" th:value="${member.memberId}" readonly>
  </div>

  <div>
    <label for="id">아이디</label>
    <input type="text" id="id" name="id" class="form-control"
           value="1" th:value="${member.id}" readonly>
  </div>

  <div>
    <label for="password">비밀번호</label>
    <input type="text" id="password" name="password" class="form-control"
           value="제목1" th:value="${member.password}" readonly>
  </div>
  <div>
    <label for="name">이름</label>
    <input type="text" id="name" name="name" class="form-control"
           value="컨텐츠" th:value="${member.name}" readonly>
  </div>
  <div>
    <label for="phone">핸드폰 번호</label>
    <input type="text" id="phone" name="phone" class="form-control"
           value="1" th:value="${member.phone}" readonly>
  </div>

  <hr class="my-4">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='boards.html'"
              th:onclick="|location.href='@{/members}'|"
              type="button">목록으로</button>
    </div>

  </div>
</div> <!-- /container -->
</body>
</html>